<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
<web-app>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.codehaus.ivory.plexus.PlexusAxisServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.codehaus.ivory.plexus.PlexusAdminServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PlexusTestServlet</servlet-name>
    <servlet-class>
        org.codehaus.ivory.PlexusTestServlet
    </servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PlexusTestServlet</servlet-name>
    <url-pattern>/servlet/PlexusTestServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
</web-app>